.Container-header {
  height: 50px;
  width: 100vw;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.container-nav {
  margin-left: 15px;
  width: 1000px;

  display: flex;
  justify-content: center;
}
.menue {
  width: 600px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.item-menue {
  text-decoration: none;
  color: #ffffff;
  margin-right: 40px;
}
#apple-logo {
  color: #ffffff;
  font-size: large;
  margin-right: 15px;
}
/* search container */
.searchbox-container {
 
}
#search-logo {
  color: #ffffff;
  margin-right: 30px;
}
.search-box {
  height: 100%;
  width: 90vw;
  font-size: 15px;
  outline: none;
  border: none;
  display: none;
}

/*  */
.button-bars {
  background: #333333;
}

#shopping-logo {
  color: #ffffff;
}

.container-bar {
  display: none;
}

/***  media query ***/
@media screen and (max-width: 830px) {
  .menue {
    position: absolute;
    top: 50px;
    background: rgb(29, 29, 31);
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    z-index: 999;
    align-items: center;
    transition: all 0.5s ease;
  }

  /* style bar icon */
  .container-bar {
    display: block;
    color: #ffffff;
    margin-left: 10px;
    font-size: large;
  }
  #shopping-logo {
    position: absolute;
    right: 15px;
  }

  /* search box */
  .searchbox-container {
    transition: all 0.5s ease;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 999;
    background: #ffffff;

    width: 97vw;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    background: green;
    margin: 5px;
    padding: 0px;
  }
  #search-logo {
    color: #333333;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
  }

  .search-box {
    border-radius: 0px 5px 5px 0px;
    display: block;
    position: absolute;
    right: 0px;

    /* background-color: aqua; */
  }
}

@media screen and (max-width: 600px) {
  .search-box {
    width: 87vw;
  }
}
