* {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
  /* max-width: 1400px; */
  font-family: "Dancing Script", cursive;
  font-family: "Hind Madurai", sans-serif;
}
main {
  margin-top: 50px;
  position: absolute;
}

/* section iphone big card */
.iphone-bigimg-container {
  width: 100vw;
  height: 900px;
  background: rgb(52, 40, 60);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.title-iphone-bigcard {
  color: #f2f2f2;
  font-size: 80px;
  position: absolute;
  top: 200px;
}
.iphone-big-img {
  width: 70vw;
  height: 700px;
}
/* section macbook big card  */
.section-img-macbook {
  width: 100vw;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.macbook-img {
  width: 100vw;
  height: 900px;
}
.mac-title {
  position: absolute;
  font-size: 100px;
  margin-bottom: 50px;
  color: #fff;
}
.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
.card {
  position: relative;
  width: 47vw;
  height: 600px;
  background: #f2f2f2;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: rgba(0, 0, 0, 0.089) solid 0.1px;
}
.card:hover{
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
}
.title-card {
  position: absolute;
  top: 80px;
  font-size: 50px;
}
.word-ipad-mini {
  display: inline;
  margin-left: 3px;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-weight: bold;
font-size: 70px;
  background: -webkit-linear-gradient(#ff6b88, #7e2cfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.word-appleTv{
    background: -webkit-linear-gradient(103deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}
/* choose background for cards */
#airpod {
  background-color: #ebebec;
}
#watch-card {
  background-color: #f4f4f6;
}
.image-cards {
  width: 100%;
  height: 400px;
}

#ipad-card {
  background: #fafafa;
}

#appleTv-card {
  background: #ffffff;
}

#imac-card {
  background: #ffffff;
}

.newProduct-title {
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  font-size: 60px;
  text-align: center;
}

/*************  media query **********/

@media screen and (max-width: 850px) {
  .iphone-bigimg-container {
    height: 600px;
  }
  .iphone-big-img {
    height: 600px;
  }
  .title-iphone-bigcard {
    font-size: 60px;
    top: 50px;
  }

  /* section about big card image mac */
  .macbook-img {
    height: 700px;
  }
  .section-img-macbook {
    height: 700px;
  }
  .mac-title {
    font-size: 70px;
  }
}

@media screen and (max-width: 750px) {
  /* image big iphone */
  .iphone-big-img {
    height: 500px;
  }

  .card {
    margin: 20px;
    width: 80vw;
  }
}
/* media screen 550 */
@media screen and (max-width: 550px) {
  .iphone-bigimg-container {
    height: 500px;
  }
  .title-iphone-bigcard {
    font-size: 50px;
  }
  .iphone-big-img {
    height: 400px;
  }

  /* section about big card image mac */
  .macbook-img {
    height: 600px;
  }
  .section-img-macbook {
    height: 600px;
  }
  .mac-title {
    font-size: 45px;
  }
  /*  */
  .newProduct-title {
    font-size: 40px;
  }
  /* cards */
  .card {
    height: 500px;
  }
  .image-cards {
    height: 350px;
  }
  .title-card {
    top: 65px;
  }
}
